<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Movie Recommender</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div id="main-cont">
        <div class="input" >
            <form id="movie"class ="input">
                <input id="movie_input" type="text" placeholder="Enter the movie name" required="true"  oninvalid="this.setCustomValidity('Movie name is required')"

                oninput="this.setCustomValidity('')">
                <button  type="submit">Enter</button>
            </form>
        </div>
    </div>
    
   
</body>
<script>
     var x
     
     $('#movie').on('submit',(e)=>{
        e.preventDefault();
        $.ajax({
         type:"GET",
         url:'../static/data/data.json',
         dataType: 'json',
         success:(data)=>{
             x = data['casts'][$('#movie_input').val()]
             console.log(x)
             $.ajax({
             type:"POST",
             url:"/recommendation",
             data:x,
             success: (res)=>{
                 if(res=="fail"){
                     window.alert('error occured')
                 } 
                 else{
                 window.location.replace('/movie')
                }
             },
             error:()=>{
                 window.alert('requested movie is not there')
             }
         })
         }

        })
         
         
        
        
     })
</script>
<script src="../static/js/home.js"></script>
    
</html>