<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/movie.css">
    <title>{{title}}</title>
</head>
<body>
    <div id="main-cont">
       <img id="back" src="../static/images/movies.jpg" alt="">
        <div id="collection">   
            <div id="title">
                <h1>Spiderman</h1>
            </div>
            <div id="movie-overview">
                  
                   <div id="overview">
                         <img id="movie-image" src="../static/images/spiderman.jpeg" alt="">
                         <div id="details">
                             <h2>title:spiderman</h2>
                             <h2>hero:tom</h2>
                             <h2>heroine:zendaya</h2>
                             <h2>genre:action</h2>
                         </div>
                   </div> 
            </div>
        </div>
    </div>
</body>
</html>