<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/movie.css">
    <title>{{title}}</title>
</head>
<body>
    <div id="main-cont">
       <img id="back" src="../static/images/movies.jpg" alt="">
       <a id="top" href="#nav">
           <button>Top</button>
       </a>
        <div id="collection">
            <div id="nav">
                <a href="/">
                    <button>Home</button>
                </a>    
            </div>   
            <div id="title">
                <h1>{{title}}</h1>
            </div>
            <div id="movie-overview">
                  
                   <div id="overview">
                         <img id="movie-image" src="{{url}}" alt="">
                         <div id="details">
                                <p>title:{{title}}</p>
                                <p>hero:{{hero}}</p>
                                <p>heroine:{{heroine}}</p>
                                <p>Release Date:{{date}}</p>
                                <p>duration:{{duration}}</p>
                                <p>genre:{{genre}}</p>
                                <p>IMDB:{{imdb}}</p>
                                <p>production:{{production}}</p>
                            
                         </div>
                   </div> 

            </div>
            <div id="actors-cont">
                {% for i in range(9) %}
                    {% if(i==0 ) %}
                    <img id="actors_{{i}}" src="{{herourl}}" class="actors" alt="">
                    
                    {% elif (i==1 ) %}
                    <img id="actors_{{i}}" src="{{heroineurl}}" class="actors" alt="">
                    
                    {% else %}
                    <img id="actors_{{i}}" src="{{herourl}}" class="actors" alt="">
                    {% endif %}
                {% endfor %}    

            </div>
        </div>
    </div>
</body> 
  <script>
     var pos = document.getElementById('actors-cont')
     function click(){
         console.log('hi')
     }
     pos.addEventListener('scroll', click);
     
  </script>
</html>